:root {
    --bookedcolor: #30add1;
}

.container .cal {
  margin: 0 auto;
}
.cal-today{border-left-style: solid; border-left-width: 1px; border-left-color: #000;}
.cal {
  display: block;
  width: 216px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.cal a {
  text-decoration: none;
  cursor: pointer;
}
.cal caption {
  display: block;
  line-height: 32px;
  font-weight: bold;
  color: #e2e2e2;
  text-align: center;
  text-shadow: 0 -1px black;
  background: #333;
  background: rgba(0, 0, 0, 0.35);
  border-top: 1px solid #333;
  border-bottom: 1px solid #313131;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}
.cal caption a {
  display: block;
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  color: #e2e2e2;
}
.cal caption a:hover {
  color: white;
}
.cal caption .prev {
  float: left;
}
.cal caption .next {
  float: right;
}
.cal th, .cal td {
  width: 30px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.cal th:first-child, .cal td:first-child {
  border-left: 0;
}
.cal th {
  line-height: 20px;
  font-size: 8px;
  color: #696969;
  text-transform: uppercase;
  background: #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
.cal td {
  font-size: 11px;
  font-weight: bold;
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
}
.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #666;
  
  -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.cal td a:hover{background-color: #ffffff; opacity: 0.5; }
.cal td.off a {
  background: #f3f3f3;

}
.cal td.off a {
  color: #b3b3b3;
  cursor:default;
}
.cal td.active a, .cal td a:active {
  margin: -1px;
  color: #f3f3f3;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #6dafbf;
  border: 1px solid #598b94;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.cal td.active:first-child a, .cal td:first-child a:active {
  border-left: 0;
  margin-left: 0;
}
.cal td.active:last-child a, .cal td:last-child a:active {
  border-right: 0;
  margin-right: 0;
}
.cal tr:last-child td.active a, .cal tr:last-child td a:active {
  border-bottom: 0;
  margin-bottom: 0;
}

.cal-normal {
    background-image: -webkit-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
    background-image: -moz-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
    background-image: -o-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
    background-image: linear-gradient(to bottom, #eaeaea, #e5e5e5 60%, #d9d9d9);
}
.cal-arrive {
    /* IE10+ */
    
    background-image: -ms-linear-gradient(top left, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Mozilla Firefox */
    
    background-image: -moz-linear-gradient(top left, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Opera */
    
    background-image: -o-linear-gradient(top left, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Webkit (Safari/Chrome 10) */
    
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #EAEAEA), color-stop(45, #EAEAEA), color-stop(50, #FFFFFF), color-stop(55, var(--bookedcolor)), color-stop(100, var(--bookedcolor)));
    /* Webkit (Chrome 11+) */
    
    background-image: -webkit-linear-gradient(top left, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* W3C Markup */
    
    background-image: linear-gradient(to bottom right, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
}
.cal-booked {
    /* IE10+ */
    
    background-image: -ms-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 100%);
    /* Mozilla Firefox */
    
    background-image: -moz-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 100%);
    /* Opera */
    
    background-image: -o-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 100%);
    /* Webkit (Safari/Chrome 10) */
    
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, var(--bookedcolor)), color-stop(100, var(--bookedcolor)));
    /* Webkit (Chrome 11+) */
    
    background-image: -webkit-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 100%);
    /* W3C Markup */
    
    background-image: linear-gradient(to top left, var(--bookedcolor) 0%, var(--bookedcolor) 100%);

}

.cal-depart {
    /* IE10+ */
    
    background-image: -ms-linear-gradient(bottom right, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Mozilla Firefox */
    
    background-image: -moz-linear-gradient(bottom right, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Opera */
    
    background-image: -o-linear-gradient(bottom right, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Webkit (Safari/Chrome 10) */
    
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #EAEAEA), color-stop(45, #EAEAEA), color-stop(50, #FFFFFF), color-stop(55, var(--bookedcolor)), color-stop(100, var(--bookedcolor)));
    /* Webkit (Chrome 11+) */
    
    background-image: -webkit-linear-gradient(bottom right, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* W3C Markup */
    
    background-image: linear-gradient(to top left, #EAEAEA 0%, #EAEAEA 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
}
.cal-both {
    /* IE10+ */
    
    background-image: -ms-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Mozilla Firefox */
    
    background-image: -moz-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Opera */
    
    background-image: -o-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* Webkit (Safari/Chrome 10) */
    
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, var(--bookedcolor)), color-stop(45, var(--bookedcolor)), color-stop(50, #FFFFFF), color-stop(55, var(--bookedcolor)), color-stop(100, var(--bookedcolor)));
    /* Webkit (Chrome 11+) */
    
    background-image: -webkit-linear-gradient(bottom right, var(--bookedcolor) 0%, var(--bookedcolor) 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
    /* W3C Markup */
    
    background-image: linear-gradient(to top left, var(--bookedcolor) 0%, var(--bookedcolor) 45%, #FFFFFF 50%, var(--bookedcolor) 55%, var(--bookedcolor) 100%);
}